In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"D:\DELL G5\DA\stack-overflow-developer-survey-2025\survey_results_public.csv", low_memory=False)
sch = pd.read_csv(r"D:\DELL G5\DA\stack-overflow-developer-survey-2025\survey_results_schema.csv", low_memory=False)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49191 entries, 0 to 49190
Columns: 172 entries, ResponseId to JobSat
dtypes: float64(52), int64(1), object(119)
memory usage: 64.6+ MB

In [4]:
pd.set_option('display.max_columns', None)

In [5]:
df.head()

,ResponseId,MainBranch,Age,EdLevel,Employment,EmploymentAddl,WorkExp,LearnCodeChoose,LearnCode,LearnCodeAI,AILearnHow,YearsCode,DevType,OrgSize,ICorPM,RemoteWork,PurchaseInfluence,TechEndorseIntro,TechEndorse_1,TechEndorse_2,TechEndorse_3,TechEndorse_4,TechEndorse_5,TechEndorse_6,TechEndorse_7,TechEndorse_8,TechEndorse_9,TechEndorse_13,TechEndorse_13_TEXT,TechOppose_1,TechOppose_2,TechOppose_3,TechOppose_5,TechOppose_7,TechOppose_9,TechOppose_11,TechOppose_13,TechOppose_16,TechOppose_15,TechOppose_15_TEXT,Industry,JobSatPoints_1,JobSatPoints_2,JobSatPoints_3,JobSatPoints_4,JobSatPoints_5,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,JobSatPoints_13,JobSatPoints_14,JobSatPoints_15,JobSatPoints_16,JobSatPoints_15_TEXT,AIThreat,NewRole,ToolCountWork,ToolCountPersonal,Country,Currency,CompTotal,LanguageChoice,LanguageHaveWorkedWith,LanguageWantToWorkWith,LanguageAdmired,LanguagesHaveEntry,LanguagesWantEntry,DatabaseChoice,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,DatabaseAdmired,DatabaseHaveEntry,DatabaseWantEntry,PlatformChoice,PlatformHaveWorkedWith,PlatformWantToWorkWith,PlatformAdmired,PlatformHaveEntry,PlatformWantEntry,WebframeChoice,WebframeHaveWorkedWith,WebframeWantToWorkWith,WebframeAdmired,WebframeHaveEntry,WebframeWantEntry,DevEnvsChoice,DevEnvsHaveWorkedWith,DevEnvsWantToWorkWith,DevEnvsAdmired,DevEnvHaveEntry,DevEnvWantEntry,SOTagsHaveWorkedWith,SOTagsWantToWorkWith,SOTagsAdmired,SOTagsHaveEntry,SOTagsWant Entry,OpSysPersonal use,OpSysProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackAsyncAdmired,OfficeStackHaveEntry,OfficeStackWantEntry,CommPlatformHaveWorkedWith,CommPlatformWantToWorkWith,CommPlatformAdmired,CommPlatformHaveEntr,CommPlatformWantEntr,AIModelsChoice,AIModelsHaveWorkedWith,AIModelsWantToWorkWith,AIModelsAdmired,AIModelsHaveEntry,AIModelsWantEntry,SOAccount,SOVisitFreq,SODuration,SOPartFreq,SO_Dev_Content,SO_Actions_1,SO_Actions_16,SO_Actions_3,SO_Actions_4,SO_Actions_5,SO_Actions_6,SO_Actions_9,SO_Actions_7,SO_Actions_10,SO_Actions_15,SO_Actions_15_TEXT,SOComm,SOFriction,AISelect,AISent,AIAcc,AIComplex,AIToolCurrently partially AI,AIToolDon't plan to use AI for this task,AIToolPlan to partially use AI,AIToolPlan to mostly use AI,AIToolCurrently mostly AI,AIFrustration,AIExplain,AIAgents,AIAgentChange,AIAgent_Uses,AgentUsesGeneral,AIAgentImpactSomewhat agree,AIAgentImpactNeutral,AIAgentImpactSomewhat disagree,AIAgentImpactStrongly agree,AIAgentImpactStrongly disagree,AIAgentChallengesNeutral,AIAgentChallengesSomewhat disagree,AIAgentChallengesStrongly agree,AIAgentChallengesSomewhat agree,AIAgentChallengesStrongly disagree,AIAgentKnowledge,AIAgentKnowWrite,AIAgentOrchestration,AIAgentOrchWrite,AIAgentObserveSecure,AIAgentObsWrite,AIAgentExternal,AIAgentExtWrite,AIHuman,AIOpen,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,25-34 years old,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Employed,"Caring for dependents (children, elderly, etc.)",8.0,"Yes, I am not new to coding but am learning ne...",Online Courses or Certification (includes all ...,"Yes, I learned how to use AI-enabled tools for...",AI CodeGen tools or AI-enabled apps,14.0,"Developer, mobile",20 to 99 employees,People manager,Remote,"Yes, I influenced the purchase of a substantia...",Work,10.0,7.0,9.0,6.0,3.0,11.0,12.0,1.0,8.0,14.0,NaN,15.0,7.0,8.0,12.0,11.0,1.0,6.0,13.0,3.0,16.0,NaN,Fintech,3.0,1.0,4.0,9.0,5.0,10.0,12.0,11.0,2.0,6.0,7.0,13.0,14.0,15.0,8.0,NaN,I'm not sure,I have neither consider or transitioned into a...,7.0,3.0,Ukraine,EUR European Euro,52800.0,Yes,Bash/Shell (all shells);Dart;SQL,Dart,Dart,NaN,NaN,Yes,Cloud Firestore;PostgreSQL,NaN,NaN,NaN,NaN,Yes,Amazon Web Services (AWS);Cloudflare;Firebase;...,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,Yes,Android Studio;Notepad++;Visual Studio;Visual ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Windows;MacOS;Android,Windows;MacOS;Android;iOS;iPadOS,Confluence;GitHub;GitLab;Jira;Markdown File,Markdown File,Markdown File,NaN,NaN,"Stack Overflow;Reddit;GitHub (public projects,...",NaN,NaN,NaN,NaN,Yes,openAI GPT (chatbot models);openAI Image gener...,NaN,NaN,NaN,NaN,Yes,A few times per week,Between 5 and 10 years,I have never participated in Q&A on Stack Over...,NaN,1.0,NaN,6.0,2.0,3.0,7.0,8.0,9.0,11.0,15.0,NaN,Neutral,"Rarely, almost never","Yes, I use AI tools monthly or infrequently",Indifferent,Neither trust nor distrust,Bad at handling complex tasks,Learning about a codebase;Writing code;Search ...,Project planning;Deployment and monitoring;Lea...,Documenting code;Debugging or fixing code;Test...,NaN,NaN,"AI solutions that are almost right, but not quite",No,"Yes, I use AI agents at work monthly or infreq...",Not at all or minimally,Software engineering,NaN,AI agents have increased my productivity.;AI a...,AI agents have helped me automate repetitive t...,NaN,NaN,NaN,I am concerned about the accuracy of the infor...,Integrating AI agents with my existing tools a...,The cost of using certain AI agent platforms i...,NaN,NaN,NaN,NaN,Vertex AI,NaN,NaN,NaN,ChatGPT,NaN,When I don’t trust AI’s answers,"Troubleshooting, profiling, debugging",61256.0,10.0
1,2,I am a developer by profession,25-34 years old,"Associate degree (A.A., A.S., etc.)",Employed,NaN,2.0,"Yes, I am not new to coding but am learning ne...",Online Courses or Certification (includes all ...,"Yes, I learned how to use AI-enabled tools for...",AI CodeGen tools or AI-enabled apps,10.0,"Developer, back-end",500 to 999 employees,Individual contributor,"Hybrid (some in-person, leans heavy to flexibi...",No,Personal Project,13.0,1.0,2.0,9.0,4.0,3.0,12.0,5.0,7.0,14.0,NaN,14.0,1.0,13.0,10.0,9.0,3.0,4.0,2.0,5.0,15.0,NaN,Retail and Consumer Services,10.0,8.0,3.0,9.0,12.0,1.0,6.0,2.0,11.0,4.0,7.0,13.0,14.0,15.0,5.0,NaN,I'm not sure,I have transitioned into a new career and/or i...,6.0,5.0,Netherlands,EUR European Euro,90000.0,Yes,Java,Java;Python;Swift,Java,NaN,NaN,Yes,Dynamodb;MongoDB,Dynamodb;MongoDB,Dynamodb;MongoDB,NaN,NaN,Yes,Amazon Web Services (AWS);Datadog;Docker;Homeb...,Amazon Web Services (AWS);Datadog;Docker;Homeb...,Amazon Web Services (AWS);Datadog;Docker;Homeb...,NaN,NaN,Yes,Spring Boot,Spring Boot,Spring Boot,NaN,NaN,Yes,IntelliJ IDEA;PyCharm;Visual Studio Code;Xcode,IntelliJ IDEA;PyCharm;Visual Studio Code;Xcode,IntelliJ IDEA;PyCharm;Visual Studio Code;Xcode,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Windows;MacOS;iOS;iPadOS,MacOS,Confluence;GitHub;Jira,Confluence;GitHub;Jira,Confluence;GitHub;Jira,NaN,NaN,Stack Overflow;Discord;Reddit;Dev.to;Hacker Ne...,Stack Overflow;Discord;Reddit;Dev.to;Hacker Ne...,Stack Overflow;Discord;Reddit;Dev.to;Hacker Ne...,NaN,NaN,Yes,openAI GPT (chatbot models),openAI GPT (chatbot models),openAI GPT (chatbot models),NaN,NaN,Not sure/can't remember,Multiple times per day,Between 10 and 15 years,"Infrequently, less than once per year",Chat (people);Message Boards;Long-form article...,6.0,NaN,5.0,8.0,2.0,4.0,9.0,10.0,11.0,15.0,NaN,"Yes, somewhat",About half of the time,"Yes, I use AI tools weekly",Indifferent,Neither trust nor distrust,Bad at handling complex tasks,Learning new concepts or technologies,Learning about a codebase;Project planning;Com...,Writing code;Documenting code;Debugging or fix...,NaN,NaN,"AI solutions that are almost right, but not qu...",No,"No, and I don't plan to",Not at all or minimally,NaN,NaN,NaN,NaN,NaN,NaN,NaN,It takes significant time and effort to learn ...,NaN,I am concerned about the accuracy of the infor...,Integrating AI agents with my existing tools a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,When I don’t trust AI’s answers;When I want to...,All skills. AI is a flop.,104413.0,9.0
2,3,I am a developer by profession,35-44 years old,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Independent contractor, freelancer, or self-em...",None of the above,10.0,"Yes, I am not new to coding but am learning ne...",Online Courses or Certification (includes all ...,"Yes, I learned how to use AI-enabled tools for...",AI CodeGen tools or AI-enabled apps;Technical ...,12.0,"Developer, front-end",NaN,NaN,NaN,No,Work,12.0,2.0,3.0,7.0,5.0,10.0,13.0,1.0,4.0,14.0,NaN,8.0,1.0,2.0,12.0,13.0,3.0,9.0,4.0,11.0,15.0,NaN,Software Development,9.0,6.0,7.0,11.0,8.0,12.0,1.0,5.0,2.0,4.0,3.0,13.0,14.0,15.0,10.0,NaN,No,I have transitioned into a new career and/or i...,3.0,3.0,Ukraine,UAH Ukrainian hryvnia,2214000.0,Yes,Dart;HTML/CSS;JavaScript;TypeScript,Dart;HTML/CSS;JavaScript;TypeScript,Dart;HTML/CSS;JavaScript;TypeScript,NaN,NaN,Yes,MongoDB;MySQL;PostgreSQL,Firebase Realtime Database;MongoDB,MongoDB,NaN,NaN,Yes,Datadog;Firebase;npm;pnpm,Amazon Web Services (AWS);Firebase;npm;pnpm;Vite,Firebase;npm;pnpm,NaN,NaN,Yes,Next.js;Node.js;React,Next.js;Node.js;React,Next.js;Node.js;React,NaN,Solid.js,Yes,Visual Studio Code,Visual Studio Code;Windsurf,Visual Studio Code,NaN,NaN,Google Gemini,Google Gemini;Shadcn/ui,Google Gemini,NaN,NaN,MacOS;Android,MacOS,GitHub;GitLab;Jira,GitHub;GitLab;Jira,GitHub;GitLab;Jira,NaN,NaN,Stack Overflow;Discord;Dev.to;X;YouTube;LinkedIn,Stack Overflow;Discord;Dev.to;X;YouTube;LinkedIn,Stack Overflow;Discord;Dev.to;X;YouTube;LinkedIn,NaN,NaN,Yes,Gemini (Flash general purpose models);openAI G...,Gemini (Flash general purpose models);Gemini (...,Gemini (Flash general purpose models);openAI G...,NaN,NaN,Not sure/can't remember,A few times per week,Between 5 and 10 years,"Infrequently, less than once per year",Chat (people);Videos;Lists of recommendations ...,3.0,NaN,4.0,5.0,1.0,2.0,7.0,9.0,11.0,15.0,NaN,Neutral,About half of the time,"Yes, I use AI tools daily",Favorable,Somewhat trust,Neither good or bad at handling complex tasks,Documenting code;Debugging or fixing code;Test...,NaN,Project planning;Committing and reviewing code...,Learning about a codebase;Writing code;Generat...,NaN,"AI solutions that are almost right, but not qu...",No,"Yes, I use AI agents at work weekly","Yes, somewhat",Software engineering,Multi-platform search enablement,AI agents have increased my productivity.;AI a...,AI agents have improved the quality of my code...,AI agents have improved collaboration within m...,NaN,NaN,It takes significant time and effort to learn ...,My company's IT and/or InfoSec teams have stri...,NaN,I am concerned about the accuracy of the infor...,NaN,Redis,NaN,NaN,NaN,NaN,NaN,ChatGPT;Claude Code;GitHub Copilot;Google Gemini,NaN,When I don’t trust AI’s answers;When I want to...,"Understand how things actually work, problem s...",53061.0,8.0
3,4,I am a developer by profession,35-44 years old,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed,None of the above,4.0,"Yes, I am not new to coding but am learning ne...","Other online resources (e.g. standard search, ...","Yes, I learned how to use AI-enabled tools for...",AI CodeGen tools or AI-enabled apps;Videos (no...,5.0,"Developer, back-end","10,000 or more employees",Individual contributor,Remote,No,Personal Project,2.0,12.0,6.0,5.0,13.0,3.0,8.0,11.0,7.0,14.0,NaN,10.0,5.0,8.0,4.0,13.0,12.0,2.0,7.0,1.0,15.0,NaN,Retail and Consumer Services,1.0,2.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,11.0,12.0,13.0,14.0,15.0,3.0,NaN,No,I have neither consider or transitioned into a...,NaN,NaN,Ukraine,EUR European Euro,31200.0,Yes,Java;Kotlin;SQL,Java;Kotlin,Java;Kotlin,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,Yes,Amazon Web Services (AWS);Google Cloud,Amazon Web Services (AWS);Google Cloud,Amazon Web Services (AWS);Google Cloud,NaN,NaN,Yes,Spring Boot,Spring Boot,Spring Boot,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,Amazon Bedrock,NaN,NaN,NaN,NaN,Windows,Windows;Ubuntu,GitLab;Jira;Miro,GitLab;Jira,GitLab;Jira,NaN,NaN,Stack Overflow;Reddit;YouTube;LinkedIn,"Stack Overflow;Reddit;GitHub (public projects,...",Stack Overflow;Reddit;YouTube;LinkedIn,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,Yes,A few times per month or weekly,Between 3 and 5 years,I have never participated in Q&A on Stack Over...,Videos;Chat (bot/AI),1.0,NaN,4.0,5.0,6.0,7.0,8.0,9.0,11.0,15.0,NaN,Neutral,"Rarely, almost never","Yes, I use AI tools weekly",Favorable,Somewhat trust,Bad at handling complex tasks,NaN,Project planning;Documenting code;Testing code...,Learning about a codebase;Writing code;Debuggi...,Search for answers;Generating content or synth...,NaN,"AI solutions that are almost right, but not qu...",NO,"Yes, I use AI agents at work monthly or infreq...",Not at all or minimally,Software engineering,Language processing,AI agents have accelerated my learning about n...,AI agents have increased my productivity.;AI a...,AI agents have helped me automate repetitive t...,NaN,NaN,It takes significant time and effort to learn ...,NaN,I am concerned about the accuracy of the infor...,Integrating AI agents with my existing tools a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ChatGPT;Claude Code,NaN,When I don’t trust AI’s answers;When I want to...,NaN,36197.0,6.0
4,5,I am a developer by profession,35-44 years old,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Independent contractor, freelancer, or self-em...","Caring for dependents (children, elderly, etc.)",21.0,"No, I am not new to coding and did not learn n...",NaN,"Yes, I learned how to use AI-enabled tools for...",Technical documentation (is generated for/by t...,22.0,Engineering manager,NaN,NaN,NaN,"Yes, I endorsed a tool that was open-source an...",Work,6.0,3.0,1.0,9.0,10.0,8.0,7.0,4.0,2.0,14.0,NaN,7.0,13.0,3.0,9.0,12.0,6.0,1.0,8.0,14.0,15.0,NaN,Software Development,9.0,4.0,11.0,13.0,14.0,8.0,6.0,5.0,7.0,2.0,1.0,12.0,10.0,15.0,3.0,NaN,No,I have neither consider or transitioned into a...,4.0,3.0,Ukraine,USD United States dollar,60000.0,Yes,C;C#;C++;Delphi;HTML/CSS;Java;JavaScript;Lua;P...,C#;Java;JavaScript;Python;SQL;TypeScript,C#;Java;JavaScript;Python;SQL;TypeScript,NaN,NaN,Yes,Elasticsearch;Microsoft SQL Server;MySQL;Oracl...,Elasticsearch;Oracle;PostgreSQL,Elasticsearch;Oracle;PostgreSQL,NaN,NaN,Yes,Amazon Web Services (AWS);APT;Docker;Make;Mave...,Amazon Web Services (AWS);APT;Docker;Maven (bu...,Amazon Web Services (AWS);APT;Docker;Maven (bu...,NaN,NaN,Yes,Angular;ASP.NET;ASP.NET Core;Flask;jQuery,Angular;ASP.NET Core;Flask,Angular;ASP.NET Core;Flask,NaN,NaN,Yes,Eclipse;IntelliJ IDEA;Jupyter Notebook/Jupyter...,IntelliJ IDEA;Jupyter Notebook/JupyterLab;Note...,IntelliJ IDEA;Jupyter Notebook/JupyterLab;Note...,NaN,NaN,Large Language Model;Google Gemini,Large Language Model,Large Language Model,NaN,NaN,Windows;iOS,Windows;Ubuntu;Debian,Azure Devops;GitHub;Jira,Azure Devops;GitHub;Jira,Azure Devops;GitHub;Jira,NaN,NaN,Stack Overflow;Stack Exchange;GitHub (public p...,Stack Overflow;Stack Exchange;GitHub (public p...,Stack Overflow;Stack Exchange;GitHub (public p...,NaN,NaN,Yes,openAI GPT (chatbot models),openAI GPT (chatbot models),openAI GPT (chatbot models),NaN,NaN,No,A few times per month or weekly,Between 5 and 10 years,"Infrequently, less than once per year",Long-form articles,1.0,NaN,7.0,4.0,2.0,5.0,10.0,6.0,12.0,15.0,NaN,"No, not really","Rarely, almost never","Yes, I use AI tools weekly",Favorable,Neither trust nor distrust,"Good, but not great at handling complex tasks",Learning about a codebase;Writing code;Debuggi...,Project planning;Documenting code;Testing code...,Generating content or synthetic data,NaN,NaN,"AI solutions that are almost right, but not quite",partly,"No, and I don't plan to","Yes, to a great extent",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Integrating AI agents with my existing tools a...,NaN,I am concerned about the accuracy of the infor...,It takes significant time and effort to learn ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,When I don’t trust AI’s answers,"critical thinking, the skill to define the tas...",60000.0,7.0

In [6]:
sch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139 entries, 0 to 138
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   qid       139 non-null    object
 1   qname     139 non-null    object
 2   question  139 non-null    object
 3   type      139 non-null    object
 4   sub       49 non-null     object
 5   sq_id     49 non-null     float64
dtypes: float64(1), object(5)
memory usage: 6.6+ KB

In [7]:
pd.set_option('display.max_colwidth', None)

In [8]:
sch.head()

,qid,qname,question,type,sub,sq_id
0,QID18,TechEndorse_1,What attracts you to a technology or causes you to endorse it (most to least important)?,RO,AI integration or AI Agent capabilities,1.0
1,QID18,TechEndorse_2,What attracts you to a technology or causes you to endorse it (most to least important)?,RO,Easy-to-use API,2.0
2,QID18,TechEndorse_3,What attracts you to a technology or causes you to endorse it (most to least important)?,RO,Robust and complete API,3.0
3,QID18,TechEndorse_4,What attracts you to a technology or causes you to endorse it (most to least important)?,RO,Customizable and manageable codebase,4.0
4,QID18,TechEndorse_5,What attracts you to a technology or causes you to endorse it (most to least important)?,RO,Reputation for quality,5.0

1. Підрахунок загальної кількості респондентів

In [9]:
all_resp = df['ResponseId'].nunique()
all_resp

49191

У опитуванні брало участь 49191 респондентів

2. Аналіз повноти відповідей респондентів

In [10]:
questions = sch['qname'].dropna().unique()

In [11]:
que_col = set(questions).intersection(set(df.columns))

In [12]:
df_questions = df[list(que_col)]

In [13]:
all_que_response = df_questions.dropna()

In [14]:
all_que_response.shape[0]

0

In [15]:
#кількість питань на які мали відповісти респонденти
len(que_col)

126

Висновок: Жоден із респондентів не відповів на абсолютно всі питання опитування. Це пояснюється великою кількістю запитань (126), наявністю необов’язкових полів та логікою анкети, за якої частина питань стає неактуальною залежно від попередніх відповідей

3. Статистичний аналіз досвіду респондентів

In [16]:
df['WorkExp'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 49191 entries, 0 to 49190
Series name: WorkExp
Non-Null Count  Dtype
--------------  -----
42893 non-null  float64
dtypes: float64(1)
memory usage: 384.4 KB

In [17]:
df['WorkExp'].isna().sum()

np.int64(6298)

In [18]:
df['WorkExp'].dropna()

0         8.0
1         2.0
2        10.0
3         4.0
4        21.0
         ...
49183     2.0
49184    30.0
49187    25.0
49188    17.0
49189     2.0
Name: WorkExp, Length: 42893, dtype: float64

In [19]:
print (f'Відповідь:')
print (f'Міри центральної тенденції:')
print (f'Середнє значення: {round(df['WorkExp'].mean(), 2)}'),
print (f'Медіана: {df['WorkExp'].median()}'),
print (f'Мода: {df['WorkExp'].mode()[0]}')

Відповідь:
Міри центральної тенденції:
Середнє значення: 13.37
Медіана: 10.0
Мода: 10.0

4. Аналіз віддаленої роботи

In [20]:
sch[sch['qname'].str.contains('remote', case=False, na=False)]

,qid,qname,question,type,sub,sq_id
63,QID24,RemoteWork,Which best describes your current work situation?,MC,NaN,NaN

In [21]:
df['RemoteWork'].unique()

array(['Remote', 'Hybrid (some in-person, leans heavy to flexibility)',
       nan, 'In-person', 'Hybrid (some remote, leans heavy to in-person)',
       'Your choice (very flexible, you can come in when you want or just as needed)'],
      dtype=object)

In [22]:
count_remote = df[df['RemoteWork'] == 'Remote'].shape[0]
count_remote

10931

Висновок: Із опитуваних віддалено працюють 10931 респондентів

5. Визначення популярності Python

In [23]:
[col for col in df.columns if 'Language' in col]

['LanguageChoice',
 'LanguageHaveWorkedWith',
 'LanguageWantToWorkWith',
 'LanguageAdmired',
 'LanguagesHaveEntry',
 'LanguagesWantEntry']

In [24]:
df['LanguageHaveWorkedWith'].head(10)

0                                                                         Bash/Shell (all shells);Dart;SQL
1                                                                                                     Java
2                                                                      Dart;HTML/CSS;JavaScript;TypeScript
3                                                                                          Java;Kotlin;SQL
4    C;C#;C++;Delphi;HTML/CSS;Java;JavaScript;Lua;PowerShell;Python;SQL;TypeScript;VBA;Visual Basic (.Net)
5                                                                                               Java;Scala
6                                                                                    JavaScript;TypeScript
7                                        Bash/Shell (all shells);HTML/CSS;JavaScript;Python;SQL;TypeScript
8                                                                                        Java;Python;Scala
9                                                                                                      NaN
Name: LanguageHaveWorkedWith, dtype: object

In [25]:
use_python = df['LanguageHaveWorkedWith'].str.contains('Python', na=False)

In [26]:
python_users = use_python.sum()

In [27]:
python_per = round(python_users/all_resp*100, 2)
python_per

np.float64(37.54)

In [28]:
print('Висновок: Відсоток респондентів, які програмують на Python:', python_per, '%')

Висновок: Відсоток респондентів, які програмують на Python: 37.54 %

6. Аналіз шляхів навчання програмуванню

In [29]:
sch[sch['qname'].str.contains('learn', case=False, na=False)]

,qid,qname,question,type,sub,sq_id
55,QID10,LearnCodeChoose,Did you begin learning to code or learn a new coding skill/programming language in the last year?,MC,NaN,NaN
56,QID11,LearnCode,How did you learn to code in the past year? Select all that apply.,MC,NaN,NaN
57,QID12,LearnCodeAI,Did you spend time in the last year learning AI programming or AI-enabled tooling on your own or at work?,MC,NaN,NaN
58,QID32,AILearnHow,How did you learn to code for AI in the past year? Select all that apply.,MC,NaN,NaN

In [30]:
df['LearnCode'].head()

0                                                                                                                                                    Online Courses or Certification (includes all media types);Other online resources (e.g. standard search, forum, online community)
1                       Online Courses or Certification (includes all media types);Other online resources (e.g. standard search, forum, online community);Books / Physical media;Videos (not associated with specific online course or certification);Stack Overflow or Stack Exchange
2                                                                                     Online Courses or Certification (includes all media types);Videos (not associated with specific online course or certification);Technical documentation (is generated for/by the tool or system)
3    Other online resources (e.g. standard search, forum, online community);Videos (not associated with specific online course or certification);Stack Overflow or Stack Exchange;Technical documentation (is generated for/by the tool or system);AI CodeGen tools or AI-enabled apps
4                                                                                                                                                                                                                                                                                  NaN
Name: LearnCode, dtype: object

In [31]:
online_courses = df['LearnCode'].str.contains('Online Courses', na=False)

In [32]:
online_courses.sum()

np.int64(10973)

Висновок: 10973 респондентів навчалося програмувати за допомогою онлайн курсів

7. Географічний аналіз компенсації Python-розробників

In [33]:
python_df = df[df['LanguageHaveWorkedWith'].str.contains('Python', na=False)]

In [34]:
python_df = python_df[['Country', 'ConvertedCompYearly']]
python_df

,Country,ConvertedCompYearly
4,Ukraine,60000.0
7,Ukraine,72000.0
8,Ukraine,70000.0
15,India,NaN
17,Greece,NaN
...,...,...
49143,United Kingdom of Great Britain and Northern Ireland,NaN
49145,United States of America,NaN
49175,Germany,NaN
49176,Kenya,NaN
49177,United States of America,NaN

In [35]:
python_df = python_df.dropna(subset=['ConvertedCompYearly'])
python_df

                        Country  ConvertedCompYearly
4                       Ukraine              60000.0
7                       Ukraine              72000.0
8                       Ukraine              70000.0
22     United States of America              87500.0
27                       Sweden             209643.0
...                         ...                  ...
49028  United States of America              77000.0
49088  United States of America             280000.0
49089                     India               4650.0
49105                     Egypt                719.0
49106              South Africa              69008.0

[12765 rows x 2 columns]

In [36]:
comp_by_country = python_df.groupby('Country')['ConvertedCompYearly'].agg(['mean', 'median']).reset_index().round(1)

In [37]:
comp_by_country.columns = ['Country', 'AvgCompensation', 'MedianCompensation']

In [38]:
comp_by_country

                                  Country  AvgCompensation  MedianCompensation
0                             Afghanistan          22328.7              1000.0
1                                 Albania          47217.6             50000.0
2                                 Algeria          20187.3              7088.0
3                                 Andorra         226103.5            226103.5
4                     Antigua and Barbuda              1.0                 1.0
..                                    ...              ...                 ...
148  Venezuela, Bolivarian Republic of...           9908.6              3000.0
149                              Viet Nam         218837.2              8254.0
150                                 Yemen          32929.5             23672.0
151                                Zambia           5424.2              3206.0
152                              Zimbabwe          34000.0             25500.0

[153 rows x 3 columns]

8. Аналіз освіти найбільш оплачуваних спеціалістів

In [39]:
ed_comp = df[['EdLevel', 'ConvertedCompYearly']]

In [40]:
ed_comp = ed_comp.dropna(subset=['ConvertedCompYearly'])
ed_comp

,EdLevel,ConvertedCompYearly
0,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",61256.0
1,"Associate degree (A.A., A.S., etc.)",104413.0
2,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",53061.0
3,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",36197.0
4,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",60000.0
...,...,...
49098,"Professional degree (JD, MD, Ph.D, Ed.D, etc.)",2729.0
49105,Some college/university study without earning a degree,719.0
49106,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",69008.0
49121,"Associate degree (A.A., A.S., etc.)",58007.0
49122,Some college/university study without earning a degree,46406.0

In [41]:
ed_comp = ed_comp.sort_values(by='ConvertedCompYearly', ascending=False)

In [42]:
top5 = ed_comp.head()
top5

                                               EdLevel  ConvertedCompYearly
34267              Associate degree (A.A., A.S., etc.)           50000000.0
28700  Master’s degree (M.A., M.S., M.Eng., MBA, etc.)           33552715.0
43143              Associate degree (A.A., A.S., etc.)           18387548.0
35353     Bachelor’s degree (B.A., B.S., B.Eng., etc.)           15430267.0
45971  Master’s degree (M.A., M.S., M.Eng., MBA, etc.)           13921760.0

In [43]:
top5[['EdLevel']]

                                               EdLevel
34267              Associate degree (A.A., A.S., etc.)
28700  Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
43143              Associate degree (A.A., A.S., etc.)
35353     Bachelor’s degree (B.A., B.S., B.Eng., etc.)
45971  Master’s degree (M.A., M.S., M.Eng., MBA, etc.)

Висновок: Серед п’яти респондентів з найвищою компенсацією всі мають вищу освіту різного рівня

9. Аналіз популярності Python по віковим категоріям

In [44]:
df['UsesPython'] = use_python

In [45]:
age_python = df.groupby('Age')['UsesPython'].mean().reset_index()
age_python

                 Age  UsesPython
0    18-24 years old    0.400000
1    25-34 years old    0.369393
2    35-44 years old    0.367193
3    45-54 years old    0.386295
4    55-64 years old    0.372430
5  65 years or older    0.316348
6  Prefer not to say    0.312169

In [46]:
age_python['PythonPopular'] = (age_python['UsesPython']*100).round(2)

In [47]:
age_python = age_python[['Age', 'PythonPopular']].sort_values(by='PythonPopular', ascending=False)
age_python

                 Age  PythonPopular
0    18-24 years old          40.00
3    45-54 years old          38.63
4    55-64 years old          37.24
1    25-34 years old          36.94
2    35-44 years old          36.72
5  65 years or older          31.63
6  Prefer not to say          31.22

Висновок: Python є найбільш популярним серед респондентів вікової категорії 18–24 років

10. Аналіз індустрій серед високооплачуваних віддалених працівників

In [48]:
df_for_ind = df[['ConvertedCompYearly', 'RemoteWork', 'Industry']]
df_for_ind

,ConvertedCompYearly,RemoteWork,Industry
0,61256.0,Remote,Fintech
1,104413.0,"Hybrid (some in-person, leans heavy to flexibility)",Retail and Consumer Services
2,53061.0,NaN,Software Development
3,36197.0,Remote,Retail and Consumer Services
4,60000.0,NaN,Software Development
...,...,...,...
49186,NaN,NaN,NaN
49187,NaN,NaN,NaN
49188,NaN,"Hybrid (some in-person, leans heavy to flexibility)",Banking/Financial Services
49189,NaN,NaN,NaN
49190,NaN,NaN,NaN

In [49]:
df_for_ind = df_for_ind.dropna(subset=['ConvertedCompYearly'])

In [50]:
perc_75 = df_for_ind['ConvertedCompYearly'].quantile(0.75)
perc_75

np.float64(120596.0)

In [51]:
high_paid_remote = df_for_ind[(df_for_ind['ConvertedCompYearly'] > perc_75) & (df_for_ind['RemoteWork'] == 'Remote')]

In [52]:
high_paid_remote

       ConvertedCompYearly RemoteWork                      Industry
29                205000.0     Remote          Software Development
31                250000.0     Remote                       Fintech
41                270000.0     Remote          Software Development
42                250000.0     Remote          Software Development
48                142949.0     Remote                       Fintech
...                    ...        ...                           ...
48913             129334.0     Remote          Software Development
48937             124738.0     Remote  Retail and Consumer Services
48970             350000.0     Remote                    Healthcare
49083             188000.0     Remote  Retail and Consumer Services
49088             280000.0     Remote          Software Development

[2461 rows x 3 columns]

In [53]:
industry = high_paid_remote['Industry'].value_counts().reset_index()
industry

                                      Industry  count
0                         Software Development   1186
1                                      Fintech    190
2                                   Healthcare    188
3                                       Other:    176
4   Internet, Telecomm or Information Services    138
5                   Banking/Financial Services     88
6                                   Government     78
7                 Media & Advertising Services     75
8                 Retail and Consumer Services     65
9              Transportation, or Supply Chain     63
10        Computer Systems Design and Services     59
11                                   Insurance     46
12                                      Energy     45
13                               Manufacturing     33
14                            Higher Education     30

Висновок: Серед високооплачуваних респондентів, які працюють віддалено, найпоширенішими індустріями є Software Development, Fintech та Healthcare